html 
    head 
        title Registro 
        link(rel="stylesheet", href="./css/main.css")
    body 
        form(action="/registrer" method="post")
            h2 Registro 
            div(class="section")
                div(class="title") Username 
                div(class="field")
                    input(type="text" id="username" name="username")
            div(class="section")
                div(class="title") Password
                div(class="field")
                    input(type="password" id="password" name="password")
            div(class="section")
                div(class="button")
                    input(type="submit" value="Registrar")
                div(class="button")
                    a(href="/") login